.title{
  text-align: center;
}

.table.table-striped{
  text-align: center;
  margin: 50px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table.table-striped{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

